@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Düzenleme</h1>
@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
    @Html.Label("BlogID")
    @Html.TextBoxFor(x=>x.BlogID,new{@class="form-control"})
    <BR />
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x=>x.Title,new{@class="form-control"})
    <BR />
    @Html.Label("Blog ThumbNail Url")
    @Html.TextBoxFor(x=>x.NailImage,new{@class="form-control"})
       <BR />
    @Html.Label("Blog Görsel")
    @Html.TextBoxFor(x=>x.Image,new{@class="form-control"})
    <BR />
    @Html.Label("Blog Kategori")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.cv,new {@class="form-control"})
    <BR />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x=>x.Content,10,3,new{@class="form-control"})
    <br />
    <button class="btn btn-success">Güncelle</button>
}

